.quem-somos {
    font-family: 'Lora', serif;
    color: #1C2A39;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  h1, h2 {
    color: #1C2A39;
  }
  
  .list-group-item {
    background-color: #f9f9f9;
    border: none;
  }
  